.login-container{
 
    &__form{
        margin-top: 150px;
        margin-bottom: 150px;
        border-radius: 15px;
        overflow: hidden;
    }

    form{
        input{
            border: none;
            outline: none;
            background: transparent;
            border-bottom: 1px solid $color-black;

        }

        .login-btn{
            color: $color-white;
            font-size: 24px;
            background-image: linear-gradient(315deg,
             #2a2a72 0%,
             #009ffd 74%
            );
            border: none;
            padding: 0px 30px;
            border-radius: 15px;
            &:hover{
                box-shadow: 0px 10px 20px rgba($color-black,.4);
            }
        }
    }
    .card-body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 500px;
        padding: 0px !important;
        @media (max-width:600px) {
           flex-direction: column !important;
        }
    }
    .card-body__img{
        height: 100%;
        width: 50%;
        background-image: url('/img/clem-onojeghuo-H-82Nbe8m7o-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.8;

        @media (max-width:600px) {
            width: 100%;
        }
        &-text{
            color: $color-white;
            font-size: 24px;
            text-align: center;
        }
    }
    .admin{
        background-image: url('/img/admin.jpg') !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.8;
    }
}