// Body
$body-bg: #f8fafc;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white:#fff;
$color-white-snow: rgb(246, 242, 242);
$light-blue: #3acfd5;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$color-black:#000;
$black-grey:#1d1e1f;
$grey-light:#303131;
$color-white:#fff;
$color-gold:#f2a65a;
$dark-blue: #1461a0;
$color-btn:#6b0f1a;
$color-btn-light:#b91372;
$color-btn-link:#e3342f;